.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(255, 68, 0, 0.753);
  padding: 30px;
  font-size: 15px !important;
  left: 0;
  /* color: orangered; */
  border-radius: 50%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 60% !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 255, 85) !important;
}

.swiper-pagination-bullet {
  background-color: rgba(76, 0, 255, 0.5);
}
